.note {
  margin-bottom: 1em;
}
#pattern { border-spacing: 0; }
#pattern td { padding: 0.5em; }
#pattern td.active { background-color: LightGrey; }
#pattern .beat {
  border-radius: 1em;
  width: 5em;
  height: 5em;
  background-color: grey;
  cursor: pointer;
}
#pattern .beat.active {
  background-color: LightGreen;
}
