@font-face {
  font-family: telex;
  font-style: normal;
  font-weight: 400;
  src: local('Telex-Regular'), url(http://themes.googleusercontent.com/static/fonts/telex/v1/QBUn5F7b-9Ulki7K75J1Bw.woff) format('woff');
}

body {
  padding: 1em;
  font-family: telex;
}

h1 {
  margin-bottom: 0;
}

.note {
  font-size: 95%;
  padding: 1em 0;
  color: grey;
}
.note b {
  color: black;
}

#description {
  padding: 1em 0;
}
